<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VDCornerRadius.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85B5BA1D1E2361D800F0DF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85B5BA361E2361D900F0DF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85B5BA411E2361D900F0DF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
